<html lang="en">

<head>
    <meta name="keywords" content="欧式家具,美式家具,欧美家具">
    <meta name="description" content="卫诗理是国内高端欧式家居品牌,欧式家具十大品牌，主营高端现代欧式家具、轻奢欧美家具、时尚欧美家具品牌；产品涉及：欧式客厅家具、欧式卧室家具、欧式餐厅家具、欧式书房家具；种类齐全：欧式床、欧式沙发、欧式衣柜、欧式电视柜、欧式餐桌、欧式餐椅；买欧美家具，就选卫诗理。">
    <title>【卫诗理官网】高端欧美家居品牌_欧式家具_美式家具</title>

    <meta charset="UTF-8">
    <title>卫诗理</title>
    <link rel="shortcut icon" href="../images/fav.ico">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
<div id="index-header">
    <div class="index-header-box">
        <div class="i-h-top">
            <div class="h-t-contact"><span>联系方式</span><span>招商加盟</span><span>400 900 6267</span></div>
            <div class="h-t-logo"><img src="images/index/TThome-logo.png"></div>
            <div class="h-t-mobile">
                <div class="t-m-reg">
                    <a href="#">注册</a>
                </div>
                <div class="t-m-login">
                    <a href="#">登录</a>
                </div>
                <div class="t-m-mobile">
                    <a href="#">移动版</a>
                </div>
            </div>
        </div>
        <div class="i-h-nav">
            <ul class="h-nav-list">
                <li>
                    <a href="index.html" class="nav-active">首页</a>
                </li>
                <li>
                    <a href="brand.html">品牌故事</a>
                    <ul class="h-nav-list-child">
                        <li>
                            <a href="brand.html#brand-story">品牌故事</a>
                        </li>
                        <li>
                            <a href="brand.html#brand-background">品牌背景</a>
                        </li>
                        <li>
                            <a href="brand.html#brand-development">发展历程</a>
                        </li>
                        <li>
                            <a href="brand.html#brand-concept">品牌理念</a>
                        </li>
                        <li>
                            <a href="brand.html#brand-strength">品牌荣誉</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="experice.html">体验馆</a>
                    <ul class="h-nav-list-child">
                        <li>
                            <a href="experice-bt.html">包头</a>
                        </li>
                        <li>
                            <a href="experice-cd.html">成都</a>
                        </li>
                        <li>
                            <a href="experice-nj.html">南京</a>
                        </li>
                        <li>
                            <a href="experice-dg.html">东莞</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="products.html">产品介绍</a>
                    <ul class="h-nav-list-child h-nav-list-childProd">
                        <li>
                            <a href="prod-list.html?typeId=1">客厅家具</a>
                            <a href="prod-list.html?typeId=1">全部</a>
                            <ul class="nav-childProd">
                                <li>
                                    <a href="prod-list.html?typeId=1&amp;Id=8">沙发</a>
                                </li>
                                <li>
                                    <a href="prod-list.html?typeId=1&amp;Id=9">茶几</a>
                                </li>
                                <li>
                                    <a href="prod-list.html?typeId=1&amp;Id=10">电视柜</a>
                                </li>
                                <li>
                                    <a href="prod-list.html?typeId=1&amp;Id=11">鞋柜</a>
                                </li>
                                <li>
                                    <a href="prod-list.html?typeId=1&amp;Id=12">玄关柜</a>
                                </li>
                                <li>
                                    <a href="prod-list.html?typeId=1&amp;Id=13">客厅成套</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="prod-list.html?typeId=2">餐厅家具</a>
                            <a href="prod-list.html?typeId=2">全部</a>
                            <ul class="nav-childProd">
                                <li>
                                    <a href="prod-list.html?typeId=2&amp;Id=14">餐桌椅</a>
                                </li>
                                <li>
                                    <a href="prod-list.html?typeId=2&amp;Id=15">餐边椅</a>
                                </li>
                                <li>
                                    <a href="prod-list.html?typeId=2&amp;Id=16">吧台</a>
                                </li>
                                <li>
                                    <a href="prod-list.html?typeId=2&amp;Id=17">吧椅</a>
                                </li>
                                <li>
                                    <a href="prod-list.html?typeId=2&amp;Id=18">餐厅成套</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="prod-list.html?typeId=3">卧室家具</a>
                            <a href="prod-list.html?typeId=3">全部</a>
                            <ul class="nav-childProd">
                                <li>
                                    <a href="prod-list.html?typeId=3&amp;Id=19">床</a>
                                </li>
                                <li>
                                    <a href="prod-list.html?typeId=3&amp;Id=20">床垫</a>
                                </li>
                                <li>
                                    <a href="prod-list.html?typeId=3&amp;Id=21">梳妆台</a>
                                </li>
                                <li>
                                    <a href="prod-list.html?typeId=3&amp;Id=22">梳妆凳</a>
                                </li>
                                <li>
                                    <a href="prod-list.html?typeId=3&amp;Id=23">衣柜</a>
                                </li>
                                <li>
                                    <a href="prod-list.html?typeId=3&amp;Id=24">衣帽间</a>
                                </li>
                                <li>
                                    <a href="prod-list.html?typeId=3&amp;Id=25">卧室成套</a>
                                </li>
                                <li>
                                    <a href="prod-list.html?typeId=3&amp;Id=26">儿童房</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="prod-list.html?typeId=4">书房家具</a>
                            <a href="prod-list.html?typeId=4">全部</a>
                            <ul class="nav-childProd">
                                <li>
                                    <a href="prod-list.html?typeId=4&amp;Id=27">书桌</a>
                                </li>
                                <li>
                                    <a href="prod-list.html?typeId=4&amp;Id=28">书椅</a>
                                </li>
                                <li>
                                    <a href="prod-list.html?typeId=4&amp;Id=29">书柜</a>
                                </li>
                                <li>
                                    <a href="prod-list.html?typeId=4&amp;Id=30">书架</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="news.html">新闻资讯</a>
                    <ul class="h-nav-list-child h-nav-list-childNews">
                        <li>
                            <a href="news-list.html?newsListId=1">公司资讯</a>
                        </li>
                        <li>
                            <a href="news-list.html?newsListId=2">家具百科</a>
                        </li>
                        <li>
                            <a href="news-list.html?newsListId=3">品牌选购</a>
                        </li>
                        <li>
                            <a href="news-list.html?newsListId=4">装修摆放</a>
                        </li>
                        <li>
                            <a href="news-list.html?newsListId=5">行业资讯</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="join.html">招商加盟</a>
                </li>
                <li>
                    <a href="contact.html">服务中心</a>
                    <ul class="h-nav-list-child">
                        <li>
                            <a href="pre-sales.html">售前服务</a>
                        </li>
                        <li>
                            <a href="after-sales.html">售后服务</a>
                        </li>
                        <li>
                            <a href="contact.html">联系我们</a>
                        </li>
                        <li>
                            <a href="questions.html">常见问题</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="index-banner" class="banner">
    <div class="i-b-container">
        <div class="b-c-part" style="display: block;">
            <img src="http://192.168.100.250:8099/img/banner_img/2018061518403634110bbdb16bb8748f1a63f577eddc9b998.jpg" alt="首页轮播图1">
        </div>

        <div class="b-c-part" style="display: none;">
            <img src="http://192.168.100.250:8099/img/banner_img/20180615184054794fe280af331f640b3ba0b797cbda38061.png" alt="首页2">
        </div>

        <div class="b-c-part" style="display: none;">
            <img src="http://192.168.100.250:8099/img/banner_img/20180615184111747e24d2a0549bb47ba9380b5a2f0fbd5fb.jpg" alt="首页3">
        </div>
    </div>
    <div class="i-b-tab">
        <ul>
            <li class="on"></li>
            <li class=""></li>
            <li class=""></li>
        </ul>
    </div>
    <div class="i-b-btn">
        <div class="btn-pre"></div>
        <div class="btn-next"></div>
    </div>
</div>
<div id="index-story">
    <div class="i-s-contant">
        <div class="s-c-top">
            <div class="c-t-titleC"><img src="images/index/c-t-titleC.png"></div>
            <div class="c-t-titleE">Brand Story</div>
            <div class="c-t-description">爱，一个梦想，一生一世一个家</div>
        </div>
        <div class="s-c-bottom">
            <div class="story-bottom-detalis">
                <div class="bottom-detalis-title">
                    <div class="bottom-detalis-titleC">
                        <p class="detalis-titleC-first">卫诗理</p>
                        <p class="detalis-titleC-sec">玛格丽特</p>
                    </div>
                    <div class="bottom-detalis-titleE">
                        <p class="detalis-titleE-desc">Urna justo bibendum justo, vitae luctus massapurus non dui. Morbi tellus lacus, tincidunt non nisl ut, feugiat tempus erat.</p>
                    </div>
                </div>
                <div class="bottom-detalis-content">
                    玛格丽特MARGARET，西法拉克国王查理三世的小女儿，出生便集万千宠爱于一身。她能歌善舞，才华横溢，容貌更是只有希腊维纳斯女神才可与之媲美。然而她出生在战乱时期，所以注定不会成为真正的矜贵公主。她热爱自己的国家，唯一的梦想就是能和自己心爱的王子一起，给人民一个安定温暖的家......
                </div>
                <div class="bottom-detalis-more-box">
                    <div class="bottom-detalis-more-img"><img src="images/index/bottom-detalis-more-img.png"></div>
                    <div class="bottom-detalis-more">
                        <a href="brand.html">了解更多 &gt;</a>
                    </div>
                </div>
            </div>
            <div class="story-bottom-vedios">
                <video id="story-video" width="530px" height="353px" controls="controls" poster="images/index/story-bottom-vedios.png" preload="auto">
                    <source src="images/video/story.mp4">
                </video>
            </div>
        </div>
    </div>
</div>
<div id="index-experience">
    <div class="experience-content">
        <div class="experience-content-top">
            <div class="experience-content-top-titleC"><img src="images/index/experience-content-top-titleC.png">
            </div>
            <div class="experience-content-top-titleE">Experience Stores</div>
            <div class="experience-content-top-description">我们所有的努力，旨在打造一个宾至如归的理想状态</div>
        </div>
        <div class="experience-content-box">
            <div class="experience-place-container">
                <div class="experience-place-ul-box">
                    <ul class="experience-place-nav">
                        <li class="experience-place active">包头</li>
                        <li class="experience-place">成都</li>
                        <li class="experience-place">南京</li>
                        <li class="experience-place">东莞</li>
                    </ul>
                    <ul class="experience-place-nav-others">
                        <li class="experience-place">武汉</li>
                        <li class="experience-place">杭州</li>
                    </ul>
                </div>
                <div class="experience-href">
                    <a href="join.html">招商加盟详情</a>
                </div>
                <div class="experience-tab-content">
                    <div class="experience-tab-box experience-tab-box-bt" idx="0">
                        <div class="experience-tab-left">
                            <div class="experience-tab-left-place">包头</div>
                            <div class="experience-tab-left-img"><img src="images/index/experience-tab-left-img-bt.png"></div>
                        </div>
                        <div class="experience-tab-right">
                            <div class="tab-right-intro">
                                <div class="tab-right-intro-title">
                                    <p>逐梦</p>
                                    <p>鹿都之巅</p>
                                    <p class="tab-right-intro-title-desc">卫诗理Olive life 新零售包头店，逐梦之路，未来之巅</p>
                                    <p class="tab-right-intro-title-desc-line"></p>
                                </div>
                                <div class="tab-right-intro-style">
                                    <p>拉斐尔现代美式、麦迪逊轻奢美式、麦巴赫·纽约摩登...</p>
                                    <p class="intro-style-en">Style</p>
                                    <p class="tab-right-intro-title-desc-line"></p>
                                </div>
                                <div class="tab-right-intro-phone">
                                    <p class="intro-phone-number">186-86152121</p>
                                    <p class="intro-phone-name">telephone</p>
                                </div>
                                <div class="tab-right-intro-more">
                                    <a href="experice-bt.html">了解更多 &gt;</a>
                                </div>
                            </div>
                            <div class="tab-right-pic">
                                <div class="right-pic-name-box">
                                    <div class="right-pic-name">
                                        <p>现代桦木多</p>
                                        <p>功能储物斗柜</p>
                                    </div>
                                    <div class="right-pic-name-desc">
                                        <p>典雅深色与明亮金属色泽</p>
                                        <p>相间展现文艺仿古的艺术感。</p>
                                    </div>
                                </div>
                                <div class="tab-right-img"><img src="images/index/tab-right-pic-bt.png"></div>
                            </div>
                        </div>
                    </div>
                    <div class="experience-tab-box experience-tab-box-cd" idx="1">
                        <div class="experience-tab-left">
                            <div class="experience-tab-left-place">成都</div>
                            <div class="experience-tab-left-img"><img src="images/index/experience-tab-left-img-cd.png"></div>
                        </div>
                        <div class="experience-tab-right">
                            <div class="tab-right-intro">
                                <div class="tab-right-intro-title">
                                    <p>天府之国</p>
                                    <p class="tab-right-intro-title-desc">卫诗理新零售成都“卫共”店，生态生活，盎然新启</p>
                                    <p class="tab-right-intro-title-desc-line"></p>
                                </div>
                                <div class="tab-right-intro-style">
                                    <p>美式、欧式、英式、轻奢小法、禅意中式、新古典、中式...</p>
                                    <p class="intro-style-en">Style</p>
                                    <p class="tab-right-intro-title-desc-line"></p>
                                </div>
                                <div class="tab-right-intro-phone">
                                    <p class="intro-phone-number">028-85007888</p>
                                    <p class="intro-phone-name">telephone</p>
                                </div>
                                <div class="tab-right-intro-more">
                                    <a href="experice-cd.html">了解更多 &gt;</a>
                                </div>
                            </div>
                            <div class="tab-right-pic">
                                <div class="right-pic-name-box">
                                    <div class="right-pic-name">
                                        <p>珍尼丝</p>
                                        <p>电视柜</p>
                                    </div>
                                    <div class="right-pic-name-desc">
                                        <p>复古旅行箱造型</p>
                                        <p>摩洛哥海洋蓝</p>
                                        <p>AISI镜光铜</p>
                                    </div>
                                </div>
                                <div class="tab-right-img"><img src="images/index/tab-right-pic-cd.png"></div>
                            </div>
                        </div>
                    </div>
                    <div class="experience-tab-box experience-tab-box-nj" idx="2">
                        <div class="experience-tab-left">
                            <div class="experience-tab-left-place">南京</div>
                            <div class="experience-tab-left-img"><img src="images/index/experience-tab-left-img-nanjing.png"></div>
                        </div>
                        <div class="experience-tab-right">
                            <div class="tab-right-intro">
                                <div class="tab-right-intro-title">
                                    <p>绽放</p>
                                    <p>十朝都会</p>
                                    <p class="tab-right-intro-title-desc">卫诗理线下O2O南京"卫共"店初心不移，呈现生活最美的姿态</p>
                                    <p class="tab-right-intro-title-desc-line"></p>
                                </div>
                                <div class="tab-right-intro-style">
                                    <p>大美，小美，简美，意式，法式英式，新中式等...</p>
                                    <p class="intro-style-en">Style</p>
                                    <p class="tab-right-intro-title-desc-line"></p>
                                </div>
                                <div class="tab-right-intro-phone">
                                    <p class="intro-phone-number">025-52458886</p>
                                    <p class="intro-phone-name">telephone</p>
                                </div>
                                <div class="tab-right-intro-more">
                                    <a href="experice-nj.html">了解更多 &gt;</a>
                                </div>
                            </div>
                            <div class="tab-right-pic">
                                <div class="right-pic-name-box">
                                    <div class="right-pic-name">
                                        <p>纳尔逊</p>
                                        <p>餐桌</p>
                                    </div>
                                    <div class="right-pic-name-desc">
                                        <p>非洲进口桃花口木</p>
                                        <p>沙比利木皮拼花</p>
                                        <p>古典圆形转盘设计</p>
                                    </div>
                                </div>
                                <div class="tab-right-img"><img src="images/index/tab-right-pic-nanjing.png"></div>
                            </div>
                        </div>
                    </div>
                    <div class="experience-tab-box experience-tab-box-dg" idx="3">
                        <div class="experience-tab-left">
                            <div class="experience-tab-left-place">东莞</div>
                            <div class="experience-tab-left-img"><img src="images/index/experience-tab-left-img-dg.png"></div>
                        </div>
                        <div class="experience-tab-right">
                            <div class="tab-right-intro">
                                <div class="tab-right-intro-title">
                                    <p>臻贡</p>
                                    <p>一个阶层</p>
                                    <p class="tab-right-intro-title-desc">纯正欧式尊贵体验，赋予贵族新的定义</p>
                                    <p class="tab-right-intro-title-desc-line"></p>
                                </div>
                                <div class="tab-right-intro-style">
                                    <p>大美、小美、简美、英式、美式、法式、意式...</p>
                                    <p class="intro-style-en">Style</p>
                                    <p class="tab-right-intro-title-desc-line"></p>
                                </div>
                                <div class="tab-right-intro-phone">
                                    <p class="intro-phone-number">0796-82251668</p>
                                    <p class="intro-phone-name">telephone</p>
                                </div>
                                <div class="tab-right-intro-more">
                                    <a href="experice-dg.html">了解更多 &gt;</a>
                                </div>
                            </div>
                            <div class="tab-right-pic">
                                <div class="right-pic-name-box">
                                    <div class="right-pic-name">
                                        <p>史丹尼</p>
                                        <p>沙发</p>
                                    </div>
                                    <div class="right-pic-name-desc">
                                        <p>经典切斯特菲尔德</p>
                                        <p>意大利头层牛皮</p>
                                        <p>金属&amp;实木艺术交融</p>
                                    </div>
                                </div>
                                <div class="tab-right-img"><img src="images/index/tab-right-pic-dg.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="index-products">
    <div class="products-content">
        <div class="products-content-top">
            <div class="products-content-top-titleC"><img src="images/index/products-content-top-titleC.png"></div>
            <div class="products-content-top-titleE">Products Introduce</div>
            <div class="products-content-top-description">品质生活，爱家有道</div>
        </div>
        <div class="products-content-box">
            <div class="products-kind-container">
                <ul class="products-kind-nav">
                    <li data-id="1" class="products-kind active">客厅家具</li>
                    <li data-id="2" class="products-kind">餐厅家具</li>
                    <li data-id="3" class="products-kind">卧室家具</li>
                    <li data-id="4" class="products-kind">书房家具</li>
                </ul>
                <div class="products-tab-content">
                    <div class="products-tab-box">
                        <ul>
                            <li class="products-kind-list">
                                <div class="products-kind-list-img">
                                    <a href="prod-view.html?typeId=1&amp;Id=21&amp;fid=175"><img src="http://192.168.100.250:8099/img/product_img/2018061614424598616d19cda64094643ae81a051243698d9.png" alt="\衣帽架\"></a>
                                </div>
                                <div class="products-kind-name">
                                    <a href="prod-view.html?typeId=1&amp;Id=21&amp;fid=175">好的家具</a>
                                </div>
                                <div class="products-kind-price">
                                    ￥<span class="price-num">998</span>
                                </div>
                            </li>
                            <li class="products-kind-list">
                                <div class="products-kind-list-img">
                                    <a href="prod-view.html?typeId=1&amp;Id=8&amp;fid=173"><img src="http://192.168.100.250:8099/img/product_img/201806160913098521bfd3f91cf1c449890830539c70ed126.jpg" alt="大家"></a>
                                </div>
                                <div class="products-kind-name">
                                    <a href="prod-view.html?typeId=1&amp;Id=8&amp;fid=173">22</a>
                                </div>
                                <div class="products-kind-price">
                                    ￥<span class="price-num">22</span>
                                </div>
                            </li>
                            <li class="products-kind-list">
                                <div class="products-kind-list-img">
                                    <a href="prod-view.html?typeId=1&amp;Id=8&amp;fid=169"><img src="http://192.168.100.250:8099/img/product_img/201806161004357508577317b84884478ab012b615f9eacc9.jpg" alt="卫诗理家具TW意大利馆后现代别墅书房镜面不锈钢书桌椅套装组合"></a>
                                </div>
                                <div class="products-kind-name">
                                    <a href="prod-view.html?typeId=1&amp;Id=8&amp;fid=169">卫诗理家具TW意大利馆后现代别墅书房镜面不锈钢书桌椅套装组合</a>
                                </div>
                                <div class="products-kind-price">
                                    ￥<span class="price-num">6800</span>
                                </div>
                            </li>
                            <li class="products-kind-list">
                                <div class="products-kind-list-img">
                                    <a href="prod-view.html?typeId=1&amp;Id=14&amp;fid=157"><img src="http://192.168.100.250:8099/img/product_img/2018061610061202736499e736fc7479485feefe456132968.png" alt="卫诗理家具 TW意大利馆后饭桌沙理石圆餐桌餐台"></a>
                                </div>
                                <div class="products-kind-name">
                                    <a href="prod-view.html?typeId=1&amp;Id=14&amp;fid=157">卫诗理家具 TW意大利馆后饭桌沙理石圆餐桌餐台</a>
                                </div>
                                <div class="products-kind-price">
                                    ￥<span class="price-num">6820</span>
                                </div>
                            </li>
                            <li class="products-kind-list">
                                <div class="products-kind-list-img">
                                    <a href="prod-view.html?typeId=1&amp;Id=8&amp;fid=142"><img src="http://192.168.100.250:8099/img/product_img/20180616100639053d018cedb48a4434c9f27a8715ef053c6.jpg" alt="卫诗理家具ON现代美式真皮实木沙发三人位客厅整装沙发123组合CR"></a>
                                </div>
                                <div class="products-kind-name">
                                    <a href="prod-view.html?typeId=1&amp;Id=8&amp;fid=142">卫诗理家具ON现代美式真皮实木沙发三人位客厅整装沙发123组合CR</a>
                                </div>
                                <div class="products-kind-price">
                                    ￥<span class="price-num">2500</span>
                                </div>
                            </li>
                            <li class="products-kind-list">
                                <div class="products-kind-list-img">
                                    <a href="prod-view.html?typeId=1&amp;Id=8&amp;fid=141"><img src="http://192.168.100.250:8099/img/product_img/2018061610065926073902c9d33684d1bbd93112f4f81775d.png" alt="卫诗理家具TTJ美式实木沙发大小户型客厅拉扣皮艺雕花沙发组合 M2"></a>
                                </div>
                                <div class="products-kind-name">
                                    <a href="prod-view.html?typeId=1&amp;Id=8&amp;fid=141">卫诗理家具TTJ美式实木沙发大小户型客厅拉扣皮艺雕花沙发组合 M2</a>
                                </div>
                                <div class="products-kind-price">
                                    ￥<span class="price-num">4850</span>
                                </div>
                            </li>
                            <li class="products-kind-list">
                                <div class="products-kind-list-img">
                                    <a href="prod-view.html?typeId=1&amp;Id=8&amp;fid=140"><img src="http://192.168.100.250:8099/img/product_img/20180616100739411dcb053628bf645c080d8b514890e23cb.jpg" alt="卫诗理家具TJ 美式布艺实木床尾凳 主卧室换鞋凳沙发凳床前长凳M2"></a>
                                </div>
                                <div class="products-kind-name">
                                    <a href="prod-view.html?typeId=1&amp;Id=8&amp;fid=140">卫诗理家具TJ 美式布艺实木床尾凳 主卧室换鞋凳沙发凳床前长凳M2</a>
                                </div>
                                <div class="products-kind-price">
                                    ￥<span class="price-num">4418</span>
                                </div>
                            </li>
                            <li class="products-kind-list">
                                <div class="products-kind-list-img">
                                    <a href="prod-view.html?typeId=1&amp;Id=8&amp;fid=139"><img src="http://192.168.100.250:8099/img/product_img/20180616100758454e445d5c423bf49ab9cef4e23cfba6d03.jpg" alt="卫诗理家具 ON现代美式轻奢实木六人餐桌长方形布艺餐桌椅组合 TL"></a>
                                </div>
                                <div class="products-kind-name">
                                    <a href="prod-view.html?typeId=1&amp;Id=8&amp;fid=139">卫诗理家具 ON现代美式轻奢实木六人餐桌长方形布艺餐桌椅组合 TL</a>
                                </div>
                                <div class="products-kind-price">
                                    ￥<span class="price-num">25245</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="products-more">
                    <a href="prod-list.html?typeId=1">了解更多 &gt;</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="index-news">
    <div class="news-content">
        <div class="news-content-top">
            <div class="news-content-top-titleC"><img src="images/index/news-content-top-titleC.png"></div>
            <div class="news-content-top-titleE">News Center</div>
            <div class="news-content-top-description">一切资讯都是有价值的</div>
        </div>
        <div class="news-content-box">
            <div class="news-kind-container">
                <ul class="news-kind-nav">
                    <li data-id="1" class="news-kind active">公司资讯</li>
                    <li data-id="2" class="news-kind">家具百科</li>
                    <li data-id="3" class="news-kind">品牌选购</li>
                    <li data-id="4" class="news-kind">装修摆放</li>
                    <li data-id="5" class="news-kind">行业资讯</li>
                </ul>
                <div class="news-tab-content">
                    <div class="news-tab-box">
                        <div class="news-first-box">
                            <div class="news-first">
                                <div class="news-first-left">
                                    <img src="http://192.168.100.250:8099/img/article_img/201806132054258184577248e428346c19457f64da1d1ad0f.jpg" alt="天空蓝">
                                </div>
                                <div class="news-first-right">
                                    <div class="news-first-right-title-box">
                                        <div class="news-first-title">
                                            <a href="news-view.html?newsListId=1&amp;articleId=100">tttt</a>
                                        </div>
                                        <div class="news-first-times">
                                            <p>2018-06-16 14:39:07</p>
                                        </div>
                                    </div>
                                    <div class="news-first-intro">美好的一天&nbsp; 从心开始</div>
                                    <div class="news-first-more">
                                        <a href="news-view.html?newsListId=1&amp;articleId=100">了解更多 &gt;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="news-list">
                            <ul>
                                <li>
                                    <div class="news-list-title">
                                        <a href="news-view.html?newsListId=1&amp;articleId=72">肯创集团</a>
                                    </div>
                                    <div class="news-list-times">
                                        <p>06-13</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="news-list-title">
                                        <a href="news-view.html?newsListId=1&amp;articleId=81">双人床怎么选购？双人床选购攻略</a>
                                    </div>
                                    <div class="news-list-times">
                                        <p>06-13</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="news-list-title">
                                        <a href="news-view.html?newsListId=1&amp;articleId=91">盘点最受消费者喜欢的美式家具风格特点</a>
                                    </div>
                                    <div class="news-list-times">
                                        <p>06-13</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="news-list-title">
                                        <a href="news-view.html?newsListId=1&amp;articleId=69">visney卫诗理</a>
                                    </div>
                                    <div class="news-list-times">
                                        <p>06-13</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="news-list-title">
                                        <a href="news-view.html?newsListId=1&amp;articleId=100">tttt</a>
                                    </div>
                                    <div class="news-list-times">
                                        <p>06-16</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="news-list-title">
                                        <a href="news-view.html?newsListId=1&amp;articleId=70">visney卫诗理</a>
                                    </div>
                                    <div class="news-list-times">
                                        <p>06-13</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="news-list-title">
                                        <a href="news-view.html?newsListId=1&amp;articleId=50">卫诗理全屋家具定制流程</a>
                                    </div>
                                    <div class="news-list-times">
                                        <p>06-13</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="news-list-title">
                                        <a href="news-view.html?newsListId=1&amp;articleId=63">卫诗理品牌理念</a>
                                    </div>
                                    <div class="news-list-times">
                                        <p>06-13</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="news-list-title">
                                        <a href="news-view.html?newsListId=1&amp;articleId=78">5.2实木家具有“伤痕”？卫诗理教您修复</a>
                                    </div>
                                    <div class="news-list-times">
                                        <p>06-13</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="index-footer">
    <div class="index-footer-box">
        <div class="footer-logo-box clearfix">
            <div class="footer-logo"><img src="images/index/footer-logo.png"></div>
            <div class="footer-phone"><img src="images/index/footer-phone.png"></div>
            <div class="footer-pic"><img src="images/index/footer-pic.png"></div>
        </div>
        <div class="footer-nav-box">
            <div class="footer-nav">
                <ul class="footer-nav-parent">
                    <li class="footer-nav-list">
                        <a href="brand.html">品牌介绍</a>
                        <ul class="footer-nav-child">
                            <li class="footer-nav-child-list">
                                <a href="brand.html#brand-story">品牌故事</a>
                            </li>
                            <li class="footer-nav-child-list">
                                <a href="brand.html#brand-background">品牌背景</a>
                            </li>
                            <li class="footer-nav-child-list">
                                <a href="brand.html#brand-development">发展历程</a>
                            </li>
                            <li class="footer-nav-child-list">
                                <a href="brand.html#brand-concept">品牌理念</a>
                            </li>
                            <li class="footer-nav-child-list">
                                <a href="brand.html#brand-strength">品牌荣誉</a>
                            </li>
                        </ul>
                    </li>
                    <li class="footer-nav-list">
                        <a href="news.html">新闻资讯</a>
                        <ul class="footer-nav-child footer-nav-childNews">
                            <li>
                                <a href="news-list.html?newsListId=1">公司资讯</a>
                            </li>
                            <li>
                                <a href="news-list.html?newsListId=2">家具百科</a>
                            </li>
                            <li>
                                <a href="news-list.html?newsListId=3">品牌选购</a>
                            </li>
                            <li>
                                <a href="news-list.html?newsListId=4">装修摆放</a>
                            </li>
                            <li>
                                <a href="news-list.html?newsListId=5">行业资讯</a>
                            </li>
                        </ul>
                    </li>
                    <li class="footer-nav-list">
                        <a href="products.html">产品介绍</a>
                        <ul class="footer-nav-child footer-nav-childProd">
                            <li>
                                <a href="prod-list.html?typeId=1">客厅家具</a>
                            </li>
                            <li>
                                <a href="prod-list.html?typeId=2">餐厅家具</a>
                            </li>
                            <li>
                                <a href="prod-list.html?typeId=3">卧室家具</a>
                            </li>
                            <li>
                                <a href="prod-list.html?typeId=4">书房家具</a>
                            </li>
                        </ul>
                    </li>
                    <li class="footer-nav-list">
                        <a href="contact.html">服务中心</a>
                        <ul class="footer-nav-child">
                            <li class="footer-nav-child-list">
                                <a href="pre-sales.html">售前服务</a>
                            </li>
                            <li class="footer-nav-child-list">
                                <a href="after-sales.html">售后服务</a>
                            </li>
                            <li class="footer-nav-child-list">
                                <a href="contact.html">联系我们</a>
                            </li>
                            <li class="footer-nav-child-list">
                                <a href="questions.html">常见问题</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="footer-code">
                <div class="footer-sina-box">
                    <div class="footer-sina-icon">
                        <a href="https://weibo.com/visney?is_hot=1"><img src="images/index/footer-sina-icon.png"></a>
                    </div>
                </div>
                <div class="footer-weixin-box">
                    <div class="footer-weixin-icon"><img src="images/index/footer-weixin-icon.png"></div>
                    <div class="footer-weixin-code code-pic active"><img src="images/index/footer-weixin-code.png">
                    </div>
                </div>
                <div class="footer-phone-box">
                    <div class="footer-phone-icon"><img src="images/index/footer-phone-icon.png"></div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Copyright © 2018 visney, All Rights Reserved</p>
        </div>
    </div>
</div>
<!--
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/common.js"></script>
<script src="js/index.js"></script>
-->

</body>

</html>